<!DOCTYPE html>
<html>
<head>
    <title>Vítejte</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: left; /* Text na levé straně */
            background-color: #f0f0f0;
            padding: 20px; /* Odstup od okraje stránky */
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin: 10px 0;
        }

        a {
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            display: inline-block; /* Tlačítka mají pevnou šířku a jsou vedle sebe */
            margin-right: 10px; /* Odstup mezi tlačítky */
        }

            a:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <h1>Vítejte</h1>
    <ul>
        <li><a href="/Rezervace/FormCreate">Založení rezervace</a></li>
        <li><a href="/Rezervace/AllReservationen">Zobrazit všechny rezervace</a></li>
    </ul>
</body>
</html>
